<?xml version="1.0" encoding="utf-8"?>
<odoo>
  <data>

    <menuitem id="hr_hospital_menu_main"
      name="Hospital
      sequence="2"/>

    <menuitem id="hr_hospital_patients"
      name="Patients"
      parent="hr_hospital_menu_main"
      sequence="1"/>

    <menuitem id="hr_hospital_doctors"
       name="Doctors"
      parent="hr_hospital_menu_main"
      sequence="0"/>

  </data>
</odoo>